include README.rst
include LICENSE 
include tox.ini
include requirements.txt
recursive-include config *
recursive-include doc *
recursive-include templates *
recursive-include test *
recursive-include tools *
