{#
   See http://developer.github.com/v3/activity/events/types/
#}
%%  if events_by_repo
[github]
%%      for repo, event_types in events_by_repo.iteritems() if repo != "/"
##
  - {{ repo }}
{# TODO: TeamAddEventEvent #}
%%          for event in event_types["ForkEvent"]
    + forked repo to {{ event.payload.forkee.full_name }}
%%          endfor
{##}
%%          for event in event_types["CreateEvent"]
    + created {{ event.payload.ref_type }} '{{ event.payload.ref }}'
%%          endfor
{##}
%%          for event in event_types["PushEvent"]
%%                  set commit_count = event.payload.commits|length
%%                  if commit_count == 1
%%                      set commit = event.payload.commits[0]
    + pushed to {{ event.payload.ref|replace("refs/heads/", "") }}: {{ commit["sha"]|truncate(8, true, end="") }} {{ commit["message"]|firstline }}
%%                  else
    + pushed {{ commit_count }} commits to {{ event.payload.ref|replace("refs/heads/", "") }}
%%                      for commit in event.payload.commits
      - {{ commit.sha|truncate(8, true, end="") }} {{ commit["message"]|firstline }}
%%                      endfor
%%                  endif
%%          endfor
{##}
%%          for event in event_types["PullRequestEvent"]
    + {{ event.payload.action }} pull request #{{ event.payload.number }} ({{ event.payload.pull_request.title }})
%%          endfor
{##}
%%          for event in event_types["IssueCommentEvent"]
    + {{ event.payload.action }} comment on issue #{{ event.payload.issue.number }} ({{ event.payload.issue.title }})
%%          endfor
{#
  "CommitCommentEvent",
  "PullRequestReviewCommentEvent",
  "GollumEvent",
  "GistEvent",
#}
%%          for event in event_types["IssuesEvent"]
    + {{ event.payload.action }} issue #{{ event.payload.issue.number }} ({{ event.payload.issue.title }})
%%          endfor
{##}
%%          for event in event_types["GollumEvent"]
    + edited wiki: {{ event.payload.pages|join(", ", attribute="page_name") }}
%%          endfor
{##}
%%          for event in event_types["DeleteEvent"]
    + deleted {{ event.payload.ref_type }} '{{ event.payload.ref }}'
%%          endfor
{##}
{#
%%  + unsupported event type {{ event.type }}
%%  {{ event|json }}
#}
{##}
%%      endfor

%%  endif
