[DEFAULT]
# Print more verbose output (boolean value)
#verbose=false

#timeframe=current_week
#timeframe=rapport.timeframe.CurrentWeekTimeframe
#work_week=mo-fri

[user]
fullname=Sascha Peilicke
login=speilicke
email=speilicke@suse.com

[openbuildservice:build.opensuse.org]
alias=obs
hostname=https://api.opensuse.org/
port=443
user=saschpe

[openbuildservice:build.suse.de]
alias=ibs
hostname=https://api.suse.de/
port=443
user=saschpe

[gerrit:review.openstack.org]
alias=roo
hostname=review.openstack.org
port=29418 
user=saschpe

[launchpad]
alias=lp
user=saschpe

[twitter]
alias=tw
user=saschpe

[bugzilla:bugzilla.novell.com]
alias=bnc
hostname=https://bugzilla.novell.com
#port=443
#user=saschpe
