[DEFAULT]
# Print more verbose output (boolean value)
#verbose=False

# Select the timeframe to collect work report statistics for.
# Possible values are: current_week, current_month, n_last_days
timeframe=current_week

[user]
fullname=Sascha Peilicke
username=speilicke
email=speilicke@suse.com


# Configuration of the 'timeframe' timeframe:
#[timeframe:timeframe]
#start=datetime.datetime.now()
#end=datetime.datetime.now() - datetime.timedelta(days=1)

# Configuration of the 'n_last_days' timeframe:
#[timeframe:n_last_days]
# Set the amount of days it should go backwards (default: 7)
#days=7


[collector:openbuildservice:obs]
url=https://api.opensuse.org:443/
username=saschpe

[collector:openbuildservice:ibs]
url=https://api.suse.de:443/
username=saschpe

[collector:gerrit:roo]
url=ssh://review.openstack.org:29418
username=saschpe

[collector:launchpad:lp]
url=https://api.launchpad.net/
username=saschpe

[collector:trello]
username=saschpe

[collector:twitter]
username=saschpe

[collector:bugzilla:bnc]
url=https://bugzilla.novell.com:443/
username=saschpe
