{%if boards or open_cards or closed_cards or due_cards %}
[trello]
{%if open_boards %}
- {{ open_boards|length }} open boards
{% endif %}
{%if closed_boards %}
- {{ closed_boards|length }} closed boards
{% endif %}
{%if open_cards %}
- {{ open_cards|length }} open assigned cards
{% endif %}
{% if closed_cards %}
- {{ closed_cards|length }} closed assigned cards:
{% for card in closed_cards %}
  + {{ card.name }}
{% endfor %}
{% endif %}
{%if due_cards %}
- {{ due_cards|length }} due assigned cards:
{% for card in due_cards %}
  + {{ card.name }}
{% endfor %}
{% endif %}
{% endif %}
