{%if boards|length > 0 or open_cards|length > 0 or closed_cards|length > 0 or due_cards|length > 0 %}
[trello]
{%if open_boards|length > 0 -%}- {{ open_boards|length }} open boards{% endif %}
{%if closed_boards|length > 0 -%}- {{ closed_boards|length }} closed boards{% endif %}
{%if open_cards|length > 0 -%}- {{ open_cards|length }} open assigned cards{% endif %}
{% if closed_cards|length > 0 -%}
- {{ closed_cards|length }} closed assigned cards:
{%- for card in closed_cards %}
  + {{ card.name }}
{%- endfor -%}
{% endif -%}
{%if due_cards|length > 0 -%}
- {{ due_cards|length }} due assigned cards:
{%- for card in due_cards %}
  + {{ card.name }}
{%- endfor -%}
{% endif -%}
{% endif -%}
