{% if tweets|length > 0 or retweets|length > 0 or mentions|length > 0 %}
[twitter]
{% if tweets|length > 0 -%}- {{ tweets|length }} tweets{% endif -%}
{% if retweets|length > 0 -%}- {{ retweets|length }} retweets{% endif -%}
{% if mentions|length > 0 -%}- {{ mentions|length }} mentions{% endif -%}
{% endif %}
