{% if tweets or retweets or mentions %}
[twitter]
{% if tweets %}
- {{ tweets|length }} tweets
{% endif %}
{% if retweets %}
- {{ retweets|length }} retweets by others
{% endif %}
{% if mentions %}
- {{ mentions|length }} mentions by others
{% endif %}
{% endif %}
